In [20]:
import pandas as pd

In [21]:
hr_hiring_data = pd.read_csv('../../data/raw/hr_hiring_funnel.csv')
hr_hiring_data

    ApplicantID           Source         Stage   StageDate
0         A2000  Company Website       Applied  2024-03-18
1         A2000         LinkedIn  Phone Screen  2024-03-08
2         A2000         Job Fair     Interview  2024-02-21
3         A2001  Company Website       Applied  2024-01-27
4         A2001         LinkedIn  Phone Screen  2024-01-28
..          ...              ...           ...         ...
603       A2198         Referral         Offer  2024-02-16
604       A2199         Job Fair       Applied  2024-03-16
605       A2199  Company Website  Phone Screen  2024-03-16
606       A2199  Company Website     Interview  2024-02-16
607       A2199         Referral         Offer  2024-01-19

[608 rows x 4 columns]

In [22]:
# check the data is null
data_null = hr_hiring_data.isnull().sum()
data_null

ApplicantID    0
Source         0
Stage          0
StageDate      0
dtype: int64

In [23]:
# check the data is na
data_na = hr_hiring_data.isna().sum()
data_na

ApplicantID    0
Source         0
Stage          0
StageDate      0
dtype: int64

In [24]:
# check the data types
hr_hiring_data.dtypes

ApplicantID    object
Source         object
Stage          object
StageDate      object
dtype: object

In [25]:
# rename the columns
hr_hiring_data = hr_hiring_data.rename(columns={
    'ApplicantID': 'applicant_id',
    'Source': 'source',
    'Stage': 'stage',
    'StageDate': 'stage_date',
})

hr_hiring_data

    applicant_id           source         stage  stage_date
0          A2000  Company Website       Applied  2024-03-18
1          A2000         LinkedIn  Phone Screen  2024-03-08
2          A2000         Job Fair     Interview  2024-02-21
3          A2001  Company Website       Applied  2024-01-27
4          A2001         LinkedIn  Phone Screen  2024-01-28
..           ...              ...           ...         ...
603        A2198         Referral         Offer  2024-02-16
604        A2199         Job Fair       Applied  2024-03-16
605        A2199  Company Website  Phone Screen  2024-03-16
606        A2199  Company Website     Interview  2024-02-16
607        A2199         Referral         Offer  2024-01-19

[608 rows x 4 columns]

In [26]:
# convert the stage_date column to datetime format
hr_hiring_data['stage_date'] = pd.to_datetime(hr_hiring_data['stage_date'])
hr_hiring_data.dtypes

applicant_id            object
source                  object
stage                   object
stage_date      datetime64[ns]
dtype: object

In [27]:
# export the data to csv
df = pd.DataFrame(hr_hiring_data)
df.to_csv('../../data/processed/hr_hiring_funnel.csv', index=False)
print("Data saved to ../../data/processed/hr_hiring_funnel.csv")

Data saved to ../../data/processed/hr_hiring_funnel.csv